* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url("images/background.png");
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row::after,.menu::after {
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3 {
    width: 25%;
}
.col-md-4 {
    width: 33.3333%;
}
.col-md-6 {
    width: 50%;
}
.col-md-8 {
    width: 66.6666667%;
}
.col-md-9 {
    width: 75%;
}
.col-md-12 {
    width: 100%;
}

.logo {
    margin-top: 7px;
}
.menu {
    list-style: none;
    text-align: center;
    line-height: 50px;
}
.menu > li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:nth-child(4) {
    border-right: 1px solid #2c71b8;
}
.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}
.menu > li > a:hover {
    color: white;
    background-color: #2c71b8;
}
.search {
    width: 200px;
    height: 40px;
    border: 1px solid #2c71b8;
    margin-top: 5px;
    position: relative;
}
.input-search-text {
    width: 160px;
    height: 38px;
    padding: 0 14px;
    background-color: transparent;
    border: none;
    font-size: 21px;
    position: absolute;
    /* top: 0; */
}
.input-search-text:focus {
    outline: transparent;
} 
.input-search-text::placeholder {
    color: #2c71b8;
}
.input-search-button {
    width: 30px;
    height: 30px;
    border: none;
    background-image: url("images/icon_search.png");
    background-repeat: no-repeat;
    background-position: 8.5px 8.5px;
    background-color: #2c71b8;
    position: absolute;
    top: 4px;
    right: 4px;
}
.cart {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    background-color: #fff;
    background-image: url("images/icon_cart_blue.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
    position: relative;
}
.products-count {
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    background-color: #2c71b8;
    color: #fff;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
}




.menu > li {
    position: relative;
}
.submenu {
    display: none;
    width: 286px;
    position: absolute;
    left: -1px;
}
/* .submenu > li > a{
    border-left: none;
} */
.menu > li:hover > .submenu {
display: block;
}
.submenu > li > a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    font-size: 21px;
    font-weight: 300;
    color: #fff;
    background-color: #2c71b8;
    text-align: left;
}
.submenu > li > a:hover {
    color: #2c71b8;
    background-color: #fff;
}
li.li_products:hover > a { /*фон для активного пункту menu*/
    color: #fff;
    background-color: #2c71b8;
}
.li_products {
    position: relative;
}
.active > a {
    background-image: url("images/arrow_down_blue_icon20x20.png");
    background-repeat: no-repeat;
    background-position: 115px 16px;
}
.active:hover > a {
    background-image: url("images/arrow_down_white_icon20x20.png");
    background-repeat: no-repeat;
    background-position: 115px 16px;
}